{% extends "base.html.twig" %}


{% block title %}
    ARYHA paris | Contact
{% endblock %}
{% block body %}
<div class="row row-cols-lg-2 my-5 mx-auto">
    <div class="col-lg-8 p-3 mx-auto">
        <h1 class="text-center my-3">Contact</h1>
        {% for message in app.flashes('success') %}
            <div class="col-6 mx-auto text-center alert alert-success">
                {{ message }}
            </div>        
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="col-6 mx-auto text-center alert alert-danger">
                {{ message }}
            </div>        
        {% endfor %}
            <form action="" method="post" class="form">
                {% if app.user %}
                    <div class="col-sm-12">
                        <input type="hidden" class="form-control" id="email" name="email" value="{{app.user.email}}">
                    </div>
                {% else %}
                    <div class="mb-3 ">
                        <label for="email" class="col-sm-2 col-form-label">Votre Email</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                    </div>
                {% endif %}
                <div class="mb-3 ">
                    <label for="subject" class="col-sm-2 col-form-label">Objet de votre&nbsp;mail</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="subject" name="subject">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="co,ntent" class="col-sm-2 col-form-label">Contenu de votre&nbsp;mail</label>
                    <div class="col-sm-12">
                        <textarea type="text" class="form-control" id="content" rows="5" name="content"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button class="col-md-3 btn btn-outline-primary" type="submit">Envoyer</button>
                </div>
            </form>
    </div>
    <div class="text-center mt-3 mx-auto col-lg-4">
        <h3 class="mt-3 mb-5">Autres moyens de nous contacter</h3>
        <h5 class="my-3">Par mail :<br>(Une réponse sous 48h)</h5>
        <p class="my-1">lepdgaryha@gmail.com</p>
        <p class="my-1">ou</p>
        <p class="my-1">miaaaou78@gmail.com</p>
        <br><br>
        <h5 class="my-3">Par telephone au :<br>(de 14h à 17h en semaine)</h5>
        <p class="my-1">+ 33 1 10 10 10 20</p>
        <p class="my-1">ou</p>
        <p class="my-1">+ 33 6 10 10 10 20</p>
    </div>
</div>
{% endblock %}