{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    
    <h1 class="text-center">Description du projet</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis erat vel molestie laoreet. Donec tempor neque et faucibus suscipit. Fusce egestas imperdiet auctor. Nunc laoreet erat quis enim ultrices, eu pulvinar dolor luctus. Nullam dignissim, erat quis posuere sollicitudin, eros ligula iaculis purus, ac tincidunt enim mauris in velit. Nullam luctus tincidunt felis ac venenatis. Cras eleifend rutrum sollicitudin. Morbi eu sodales purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam egestas rhoncus libero vitae elementum. Suspendisse mollis convallis justo, sed imperdiet odio facilisis id. Nulla facilisi.</p>

    <p>Donec finibus purus non lorem porta, non luctus dolor fermentum. Aliquam sit amet suscipit urna. Aenean efficitur nunc vitae libero egestas ultrices. In at elit blandit, sollicitudin justo at, pharetra sem. Suspendisse tincidunt gravida libero eu malesuada. Vestibulum nec tortor purus. Pellentesque vestibulum ac diam in commodo. Phasellus magna nisl, ullamcorper in ipsum sit amet, pharetra dictum orci. In eget ligula tellus. Vivamus urna ipsum, consectetur ut consequat sit amet, varius quis orci.</p>

    <p>Phasellus vitae mattis nisi, ut mollis massa. Sed sed nisi sodales, accumsan mi iaculis, luctus risus. Morbi ut facilisis ligula. Etiam interdum dolor velit, molestie aliquam est lobortis ut. Praesent faucibus nunc vitae orci scelerisque, sed feugiat ex hendrerit. Sed id consectetur nulla. Praesent nibh nunc, ornare a purus a, ultrices aliquam metus. Suspendisse quis consectetur felis. Ut pharetra dignissim ligula, a efficitur velit. Curabitur posuere cursus elit.</p>

    <p>Nam metus nisl, eleifend finibus neque efficitur, rutrum tincidunt diam. Fusce in neque quis dui vestibulum tristique. Phasellus tincidunt lorem et augue venenatis, in mollis risus rhoncus. Integer quis dictum purus, ac rutrum arcu. Pellentesque ac felis mi. Nulla facilisi. Nullam maximus nisl et est bibendum consequat. Proin et nunc odio. Donec pretium tellus eros. Curabitur mattis sem vel urna suscipit dictum. Sed vitae dictum sem. Quisque non ultrices tortor. Ut ac faucibus sapien, id venenatis mauris.</p>

    <p>Donec id ornare risus. Nunc venenatis metus nec nibh ultrices, in tempor quam sollicitudin. Etiam nec est at arcu congue maximus nec nec enim. Ut id dapibus ex, sed aliquet quam. Sed faucibus ligula ac velit feugiat maximus et in nunc. Phasellus bibendum mollis sem, nec mollis risus gravida a. Mauris malesuada vitae sapien posuere iaculis. In vehicula nisi placerat velit ornare, ut vulputate dui viverra. Etiam nec fringilla eros. Vivamus imperdiet porttitor malesuada. Proin rutrum turpis et metus fermentum, dignissim tincidunt quam molestie. Aliquam at risus ut quam pellentesque rutrum ac ac est. Pellentesque pellentesque erat ac massa semper, vitae imperdiet nulla porta. Donec quis tortor in purus tincidunt viverra ut eu augue. Suspendisse elementum, odio sit amet vestibulum sollicitudin, velit ante cursus massa, ac porttitor augue nibh quis nibh.</p>

{% endblock %}